# Developer tools' files
.lite_workspace.lua

# Neutralinojs binaries and builds
/bin
/dist
/server/node_modules
/frontend/node_modules
/extensions/*
/frontend/dist/*


# Neutralinojs client (minified)
neutralino.js

# Neutralinojs related files
.storage
*.log
