# Developer tools' files
.lite_workspace.lua

# Neutralinojs binaries and builds
/bin
/dist
/server/node_modules
/frontend/node_modules
/extensions/*
/frontend/dist/*
/.tmp/*
/convertFolder/*
.tmp
# Neutralinojs client (minified)
neutralino.js

# Neutralinojs related files
.storage
*.log
shared
uploads
/.env.*
/server/.env*
frontend/.env.development
frontend/.env.production
server/.env.development
server/.env.production
frontend/public/ph.html
frontend/public/photographer_landing.html
frontend/public/photography_tailwind.html
frontend/public/remixed-717562b1.html
frontend/public/sv.html
server/server.exe
replacements.txt
server/prisma-backup 02.06.2026.json
server/prisma-backup 20.10.json
server/CHIR.ts
